# Python files
__pycache__/
*.py[cod]
*$py.class

# Environment
env/
.env
*.env

#python files that are not needed in the docker container
linkedinscraperscript.py
linkedin_enriched_leads.py



# System files
.DS_Store

# Docker files


# Requirements
requirements-linkedin.txt